.banner {
  text-align: center;
}
.profile-picture{
  height: 20px;
  width: 20px;
  boreder-radius: 50px;
}


.body {
  text-align: center;
  margin: 50px;
  padding: 50px;
}

div .name h1{
  font-weight: 900;
  color: purple;
  background-color: green;
}

.curriculum{
  background-color: #05F3FE;
  color: #2565AE;
}

.linkedin{
  color: #2565AE;
  background-color: #05F3FE;
}
.opensea{
  color: #2565AE;
  background-color: #05F3FE;
}

.links{
  margin: 50%;
}

