.banner {
  text-align: center;
}
.profile-picture{
  height: 200px;
  width: 200px;
  boreder-radius: 50px;
}


.body {
  text-align: center;
  margin: 50px;
  padding: 50px;
}

h1 .name{
  font-weight: 900;
  color: purple;
  background-color: green;
}

.alink{
  color: #2565AE;
  background-color: #05F3FE;
  width: 100px;
  border: solid #5B6DCD 1px;
  border-radius: 15px;
}

.linkedin{
  color: #2565AE;
  background-color: #05F3FE;
  width: 100px;
  border: solid #5B6DCD 1px;
}
.opensea{
  color: #2565AE;
  background-color: #05F3FE;
  width: 100px;
  border: solid #5B6DCD 1px;
}

.links{
  margin: 50%;
}

