.banner {
  text-align: center;
}

.body {
  text-align: center;

}

.name h1{
  font-weight: 900;
  color: blue;
  backgound-color: green; 
}

body{
  backgorund-color: blue;
  color: white;
}

.profile-picture{
   
}
